@import url('https:/fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.bg
{
    background-color: #f8f9fa;
    background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png');
}

*{
    font-family: 'Quicksand', sans-serif;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
  }
  
  .navbar-nav, form, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  
  .nav-item {
    margin-left: 50px;
  }
  
  form {
    margin: 20px;
  }
  .display-4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-shadow: 5px 5px 5px black;
  }
  .lead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 5px 4px 4px black;
  }
  .rdOption {
    margin-left: 20px;
  }
  
  .container h1{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  .bg-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .rooms .form-group {
    margin-left: 400px;
  }
  
  .btnSubmitRooms {
    float: right;
    margin-bottom: 50px;
  }
  /* body {
    background-image: url("https://wallpaperaccess.com/full/365309.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } */
  .carousel-item {
    height: 100vh;
    min-height: 50px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }